/* importamos los iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

/* importo fuente */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root{

    /* variables de color de tono: */
    --color-primario-300: #FFFFFF;
    --color-primario-400: #673de6;
    --color-primario-500: #4119bba6;
    --color-primario-600:#2f1c6a;
    --color-primario-700:#1f1346;
    /* variable de estilo de fuente */
    --fuente-principal: 'DM Sans', sans-serif;
    

}

/* aplico a todos los elementos */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    /* Verás qué elemento se desborda */
    /* outline: 1px solid red;  */
    text-decoration: none;

    

}

body{
    overflow-x: hidden;
    width: 100vw;
    /* color: var(--color-primario-600); */

}

/*          HEADER           */
.header{

    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-items: center;
    height: 88px;
    width: 100%;
    /* se le pone sticky para que siga respetando su espacio original y top 0 al respecto de la parte delantera del viewport */
    position: sticky;
    top: 0;
    background-color: var(--color-primario-300);
    box-shadow: 0 4px 10px #0000001a;

}

.header .header__icon{
        padding: 29px 0 29px 40px;
}

.icon_hostinger{

    width: 147px;
    height: 30px;
    color: var(--color-primario-400);
}


.header .header__content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.header__content-left .nav-list{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
    color: black;
}


.nav-list button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    gap: 5px;
    font-size: 16px; 
}

.modified-link{
    display: flex;
    font-size: 16px;
    
    color: black;
    
}




.header__content .header__content-right{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    gap: 32px;
}

.header__content-right .buttom-icon-span{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 24px;
    border: none;
    background-color: transparent;
    
}

.buttom-icon-span .icon-text{
    font-weight: 900;
    background-color: transparent;

}

.buttom-icon-span .icon{

    height: 100%;
}

.header__content-right .buttom-login{

    border-radius: 12px;
    border: 3px solid black;
    padding: 12px 16px;
    text-align: center;

}


/*          SECTION MIGRATION WEB */


.section{
    background-color: var(--color-primario-700);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* la section ocupa el ancho ttoal del navegador */
    /* se agrega */
    width: 100%;
}

/* contenedor general */
.section__content{

    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 1128px; */
    max-width: 1208px;
    /* que ocupe todo el ancho cuando se achica la ventana*/
    width: 100%; 
    }


/* titulo principal */
.title{

    font-size: 36px;
    color: var(--color-primario-300);
    font-weight: 700;
    text-align: center;
}

/* parrafos pequeños */
.text-small{

    font-size: 16px;
    color: var(--color-primario-300);
    font-weight: 400;


}

.text--modified{

    margin: 24px 0px 0px;
    text-align: center;

}

.subtitle{

    font-size: 18px;
    color: var(--color-primario-300);
    font-weight: 700;


}

/* contenedor del boton */
.section__content__buttom{

    border: 2px solid var(--color-primario-400);
    border-radius: 8px;
    background-color: var(--color-primario-400);
    padding: 12px 48px;
    margin: 32px 0px 0px;

}

/* boton */
.buttom{

    font-size: 16px;
    color: var(--color-primario-300);
    font-weight: 700;
    /* le saca el subrayado */
    


}



/* contenedor de las tarjetas */
.section__content__body{

    display: flex;
    flex-direction: row;
    /* espaciado entre cada tarjeta */
    gap: 24px;
    padding: 0px 40px;

    /* se agrega para ocupar el ancho del contenedor padre = section__content*/
    width: 100%;
}


/* contenedor  de titulo y parrafo */
.section__content__header{

    margin:0px 0px 48px;
    padding: 0px 40px;


}


/*tarjeta especifico */
.card-review-article{

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    border-radius: 16px;
    background-color: var(--color-primario-600);
    padding: 32px;
    
    /* se agrega para que cada tarjeta tenga el mismo ancho disponible sin hacer medidas */
    flex: 1;
    
}



.card-review-article__icon{

    color: white;
    border-radius: 6px;
    font-size: 20px;
    background-color: var(--color-primario-400);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}



/*              SECTION HEROOO      */


.section__hero{

    width: 100%;
    height: 100%;
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1472px;
    /*auto : Calcula automáticamente cuánto espacio debe haber a la izquierda y a la derecha para centrar horizontalmente el elemento dentro de su contenedor (body). */
    margin: 0 auto;
    padding: 36px 40px 96px 40px;

}

.content__hero__left{

    display: flex;
    flex-direction: column;
    max-width: 463px;
    min-width: 440px;
    /* height: 442px; */
    align-items: start;
    justify-content: center;
    

}

.title-principel-hero{

    font-size: 36px;
    font-weight: 700;
    color: var(--color-primario-600);
}

.content__hero__left-parragraph{

    margin-top: 8px;
    margin-bottom: 34px;
    
}


.text-size{

    font-size: 20px;
    color: var(--color-primario-600);
    font-weight: 700;

}

.content__hero__left-parragraph .text-color{

    color: var(--color-primario-400);
    font-size: 20px;
    font-weight: 700;
}

.content__hero__left-list li{

    list-style: none;
    color: var(--color-primario-700);
    font-weight:400;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.content__hero__left-list .check{
    color: green;
    width: 20px;
    height: 20px;
}


.content__hero__left-list .question-circle{

    width: 16px;
    height: 16px;
}

.content__hero__left-span{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: start;
    color: var(--color-primario-700);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 24px;

}

.content__hero__left-span .span-style-big{

    font-size: 48px;
    font-weight: 700;

}


.content__hero__left-feature-bottons{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;
    margin-bottom: 12px;
}

.content__hero__left-feature-bottons a{
    height: 48px;
    padding: 12px 48px;
    background-color: var(--color-primario-400);
    border-radius: 15px;
    border: 2px solid var(--color-primario-400);
    color: var(--color-primario-300);
    
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.content__hero__left-feature-bottons div{
    height: 48px;
    width: 160px;
    padding: 12px 18px;
    background-color: #e2dbfc;
    border-radius: 15px;
    color: var(--color-primario-700);
    
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

.content__hero__left-span-footer{

    font-size: 16px;
    color: var(--color-primario-700);
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 6px;

}


.content__hero__right{

    min-width: 616px;
    max-width: 880px;

}

.content__hero__right img{

    width: 100%;
}


/*          footer              */

.section__footer{
    padding-top: 56px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.content__footer{
    width: 100%;
    max-width: 1208px;
    margin: 0px auto;
    padding: 0px 40px;
    
    
}

.content__footer__left{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    width: 100%;

}

.content__footer__left .list-iconos{

    display: flex;
    flex-direction: row;
    gap: 16px;
    
}

.iconos-redes{
    
    width: 32px;
    height: 32px;
    color: var(--color-primario-600);
    
}

.content__footer__middle{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    width: 100%;


}

.content__footer__middle .list-images-bank{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

}

.list-images-bank a{

    color: var(--color-primario-400);
    font-size: 14px;
    font-weight: 700;
}

.iconos-publicidades{
    
    height: 40px;
    width: 60px;
    border: 1px solid rgba(68, 59, 59, 0.226);
    border-radius: 4px;
}

.content__footer__middle .list-legal{

    display: flex;
    gap: 16px;
    color: var(--color-primario-600);

}

.list-legal a{
    /* text-decoration: none; */
    color: var(--color-primario-700);
    font-size: 14px;
}


.content__footer__right{

    max-width: 1128px;
    border-top: 1px solid rgba(0, 0, 255, 0.137);
    padding: 24px 0px;
    color: var(--color-primario-700);
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 128px;
    
}


