/* importamos los iconos*/
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* importo fuente */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root{

    /* variables de color de tono: */
    --color-primario-300: #FFFFFF;
    --color-primario-400: #673de6;
    --color-primario-500: #4119bba6;
    --color-primario-600:#2f1c6a;
    --color-primario-700:#1f1346;


    /* variable de estilo de fuente */
    --fuente-principal: 'DM Sans', sans-serif;
    

}

/* aplico a todos los elementos */
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;

}

body{

    width: 100vw;
    height: 100vh;
}

.header{

    display: flex;
    flex-direction: row;
    /* justify-content: start; */
    align-items: center;
    height: 88px;
    width: 100%;
    box-shadow: 0 4px 10px #000000;
    /* se le pone sticky para que siga respetando su espacio original y top 0 al respecto de la parte delantera del viewport */
    position: sticky;
    top: 0;
    background-color: var(--color-primario-300);

}

.header .header__icon{

        padding: 29px 0 29px 40px;

}

.header .header_content{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;

}

.header_content-left .nav-list{
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    list-style: none;
    
}


.nav-list button{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    gap: 5px;
    font-size: 16px;
    
}

.modified-link{
    display: flex;
    font-size: 16px;
    text-decoration: none;
    color: black;
    
}




.header_content .header_content-right{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 48px;
    gap: 32px;
}

.header_content-right .buttom-icon-span{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 24px;
    border: none;
    background-color: transparent;
    
}

.buttom-icon-span .icon-text{
    font-weight: 900;
    background-color: transparent;

}

.buttom-icon-span .icon{

    height: 100%;
}

.header_content-right .buttom-login{

    border-radius: 12px;
    border: 3px solid black;
    padding: 12px 16px;
    text-align: center;

}


/* ---------------------------------------------- */




/* seccion general */
.section{

    background-color: var(--color-primario-700);
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* la section ocupa el ancho ttoal del navegador */
    /* se agrega */
    width: 100%;
}

/* contenedor general */
.section__content{

    padding: 80px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* width: 1128px; */
    width: 80%;
     /*para que sea un ancho fijo el contenedor general*/
    /* el 20% que sobra es del padre que no va ocupar (del padre section) */
    }


/* titulo principal */
.title{

    font-size: 36px;
    color: var(--color-primario-300);
    font-weight: 700;
    text-align: center;
}

/* parrafos pequeños */
.text-small{

    font-size: 16px;
    color: var(--color-primario-300);
    font-weight: 400;


}

.text--modified{

    margin: 24px 0px 0px;
    text-align: center;

}

.subtitle{

    font-size: 18px;
    color: var(--color-primario-300);
    font-weight: 700;


}

/* contenedor del boton */
.section_content_buttom{

    border: 2px solid var(--color-primario-400);
    border-radius: 8px;
    background-color: var(--color-primario-400);
    padding: 12px 48px;
    margin: 32px 0px 0px;

}

/* boton */
.buttom{

    font-size: 16px;
    color: var(--color-primario-300);
    font-weight: 700;
    /* le saca el subrayado */
    text-decoration: none;


}



/* contenedor de las tarjetas */
.section_content_body{

    display: flex;
    flex-direction: row;
    /* espaciado entre cada tarjeta */
    gap: 24px;
    padding: 0px 40px;

    /* se agrega para ocupar el ancho del contenedor padre = section_content*/
    width: 100%;
}


/* contenedor  de titulo y parrafo */
.section_content_header{

    margin:0px 0px 48px;
    padding: 0px 40px;


}


/*tarjeta especifico */
.card-review-article{

    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
    border-radius: 16px;
    background-color: var(--color-primario-600);
    padding: 32px;
    
    /* se agrega para que cada tarjeta tenga el mismo ancho disponible sin hacer medidas */
    flex: 1;
    
}



.card-review-article__icon{

    color: white;
    border-radius: 6px;
    font-size: 20px;
    background-color: var(--color-primario-400);
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
